In [1]:
import pandas as pd 

df = pd.read_csv(r'uniswap_lp_data\merged_uniswap_data_scaled.csv')
df.head()

,event_type,block_number,timestamp,transaction_hash,owner,sender,recipient,tick_lower,tick_upper,amount,amount0,amount1,sqrtPriceX96,liquidity,tick,gas_eth,token0_balance,token1_balance,token0_symbol,token1_symbol
0,Swap,21212454,1970-01-01 00:00:01.731907019,8648ee0d13f2fd362f034a9ef4499b2083b210030c7bf3...,NaN,0x68d3A973E7272EB388022a5C6518d9b2a2e66fBf,0x68d3A973E7272EB388022a5C6518d9b2a2e66fBf,NaN,NaN,NaN,167182.499271,-53.882665,1422584601758672472796690512308558,1.661930e+07,195922.0,0.010211,9.404590e+07,28359.305025,USDC,WETH
1,Swap,21212455,1970-01-01 00:00:01.731907031,e8426d49e970b6151481999f9f4209e631a3fb092eb878...,NaN,0x3fC91A3afd70395Cd496C647d5a6CC9D4B2b7FAD,0x3fC91A3afd70395Cd496C647d5a6CC9D4B2b7FAD,NaN,NaN,NaN,25.661038,-0.008269,1422584562338281337622207109281865,1.661930e+07,195922.0,0.002240,9.404592e+07,28359.296756,USDC,WETH
2,Swap,21212457,1970-01-01 00:00:01.731907055,c5698a2b2b2776f8998215658ba14ba32a6f548146253f...,NaN,0x68b3465833fb72A70ecDF485E0e4C7bD8665Fc45,0xc2351B18C29ac5F45A82485A545F5DF6399f81c9,NaN,NaN,NaN,-245.595556,0.079220,1422584939810095151808504280176541,1.661930e+07,195922.0,0.001513,9.410601e+07,28339.935199,USDC,WETH
3,Swap,21212457,1970-01-01 00:00:01.731907055,29d8848c4e07d9b542023e939dc240023ba995e96b3eaf...,NaN,0x68d3A973E7272EB388022a5C6518d9b2a2e66fBf,0x68d3A973E7272EB388022a5C6518d9b2a2e66fBf,NaN,NaN,NaN,60333.966532,-19.440777,1422492260985002612587926010203535,1.661930e+07,195921.0,0.001319,9.410601e+07,28339.935199,USDC,WETH
4,Swap,21212459,1970-01-01 00:00:01.731907079,640fc1f32a20b485445d7555ab28c9a23325169ee4ad8c...,NaN,0x3fC91A3afd70395Cd496C647d5a6CC9D4B2b7FAD,0x3fC91A3afd70395Cd496C647d5a6CC9D4B2b7FAD,NaN,NaN,NaN,4778.060000,-1.539476,1422484921937386115330248168393608,1.661930e+07,195921.0,0.001987,9.411079e+07,28338.395723,USDC,WETH

In [2]:
import datetime as dt

def time_to_seconds(t):
    try:
        h, m, s = map(float, t.split(":"))
        return h * 3600 + m * 60 + s
    except:
        return None

time_part = df['timestamp'].str.extract(r'(\d{2}:\d{2}:\d{2}\.\d+)')
df['timestamp'] = 1e9 * time_part.squeeze().apply(time_to_seconds)

In [3]:
df

,event_type,block_number,timestamp,transaction_hash,owner,sender,recipient,tick_lower,tick_upper,amount,amount0,amount1,sqrtPriceX96,liquidity,tick,gas_eth,token0_balance,token1_balance,token0_symbol,token1_symbol
0,Swap,21212454,1.731907e+09,8648ee0d13f2fd362f034a9ef4499b2083b210030c7bf3...,NaN,0x68d3A973E7272EB388022a5C6518d9b2a2e66fBf,0x68d3A973E7272EB388022a5C6518d9b2a2e66fBf,NaN,NaN,NaN,167182.499271,-53.882665,1422584601758672472796690512308558,1.661930e+07,195922.0,0.010211,9.404590e+07,28359.305025,USDC,WETH
1,Swap,21212455,1.731907e+09,e8426d49e970b6151481999f9f4209e631a3fb092eb878...,NaN,0x3fC91A3afd70395Cd496C647d5a6CC9D4B2b7FAD,0x3fC91A3afd70395Cd496C647d5a6CC9D4B2b7FAD,NaN,NaN,NaN,25.661038,-0.008269,1422584562338281337622207109281865,1.661930e+07,195922.0,0.002240,9.404592e+07,28359.296756,USDC,WETH
2,Swap,21212457,1.731907e+09,c5698a2b2b2776f8998215658ba14ba32a6f548146253f...,NaN,0x68b3465833fb72A70ecDF485E0e4C7bD8665Fc45,0xc2351B18C29ac5F45A82485A545F5DF6399f81c9,NaN,NaN,NaN,-245.595556,0.079220,1422584939810095151808504280176541,1.661930e+07,195922.0,0.001513,9.410601e+07,28339.935199,USDC,WETH
3,Swap,21212457,1.731907e+09,29d8848c4e07d9b542023e939dc240023ba995e96b3eaf...,NaN,0x68d3A973E7272EB388022a5C6518d9b2a2e66fBf,0x68d3A973E7272EB388022a5C6518d9b2a2e66fBf,NaN,NaN,NaN,60333.966532,-19.440777,1422492260985002612587926010203535,1.661930e+07,195921.0,0.001319,9.410601e+07,28339.935199,USDC,WETH
4,Swap,21212459,1.731907e+09,640fc1f32a20b485445d7555ab28c9a23325169ee4ad8c...,NaN,0x3fC91A3afd70395Cd496C647d5a6CC9D4B2b7FAD,0x3fC91A3afd70395Cd496C647d5a6CC9D4B2b7FAD,NaN,NaN,NaN,4778.060000,-1.539476,1422484921937386115330248168393608,1.661930e+07,195921.0,0.001987,9.411079e+07,28338.395723,USDC,WETH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2739535,Swap,20212447,1.719846e+09,ca464d3cfae288466831dc5eeb634064c638feebb9d91e...,NaN,0x6F1cDbBb4d53d226CF4B917bF768B94acbAB6168,0x6F1cDbBb4d53d226CF4B917bF768B94acbAB6168,NaN,NaN,NaN,53795.762641,-15.502724,1345270955398428148244496286482432,2.363181e+07,194805.0,0.001934,9.224696e+07,21704.381734,USDC,WETH
2739536,Swap,20212447,1.719846e+09,f8d6c288739bf3641ec0745f165407e37824c26b8afba7...,NaN,0x3fC91A3afd70395Cd496C647d5a6CC9D4B2b7FAD,0x3fC91A3afd70395Cd496C647d5a6CC9D4B2b7FAD,NaN,NaN,NaN,-2946.730650,0.850000,1345273803688712745136315101951414,2.363181e+07,194805.0,0.003057,9.224696e+07,21704.381734,USDC,WETH
2739537,Swap,20212448,1.719846e+09,5e91af6088073b8978bd6167991a7fa82ba5edc8d4a258...,NaN,0xE37e799D5077682FA0a244D46E5649F71457BD09,0xE37e799D5077682FA0a244D46E5649F71457BD09,NaN,NaN,NaN,3471.300000,-1.000313,1345270450032105436272975903374401,2.363181e+07,194805.0,0.001785,9.225043e+07,21703.381421,USDC,WETH
2739538,Swap,20212451,1.719846e+09,2513987060d4d8a6cffc4bf9262a2e57a84577bbaf48e9...,NaN,0x1111111254EEB25477B68fb85Ed929f73A960582,0x74de5d4FCbf63E00296fd95d33236B9794016631,NaN,NaN,NaN,-343.641695,0.099125,1345270782193016566469330656413651,2.363181e+07,194805.0,0.002120,9.224663e+07,21704.477987,USDC,WETH
2739539,Swap,20212451,1.719846e+09,10ecf6b466e6f0f2ebc34ec73e6f94ac97f778ed51a681...,NaN,0xfb00001B342D0093370d0036634600CB4CE68d00,0xfb00001B342D0093370d0036634600CB4CE68d00,NaN,NaN,NaN,-3457.869246,0.997441,1345274124546841088204430540210644,2.363181e+07,194805.0,0.010568,9.224663e+07,21704.477987,USDC,WETH

In [5]:
pd.to_datetime(df['timestamp'], unit='s', origin='unix')

0         2024-11-18 05:16:59
1         2024-11-18 05:17:11
2         2024-11-18 05:17:35
3         2024-11-18 05:17:35
4         2024-11-18 05:17:59
                  ...
2739535   2024-07-01 15:05:11
2739536   2024-07-01 15:05:11
2739537   2024-07-01 15:05:23
2739538   2024-07-01 15:05:59
2739539   2024-07-01 15:05:59
Name: timestamp, Length: 2739540, dtype: datetime64[ns]

We don't have ETH price before 2024/03/16. Thus drop data earlier than that.

In [6]:
df.to_csv(r'uniswap_lp_data\merged_uniswap_data_scaled_fixed.csv', index=False)

In [1]:
import pandas as pd 


df = pd.read_csv(r'uniswap_lp_data\sorted_uniswap_data1.csv')
df.head(5)

,event_type,block_number,timestamp,transaction_hash,owner,sender,recipient,tick_lower,tick_upper,amount,amount0,amount1,sqrtPriceX96,liquidity,tick,gas_eth,token0_balance,token1_balance,token0_symbol,token1_symbol
0,Swap,19212460,2024-02-12 14:12:35,1b520b977bdccd207eeaa666e91442aea6b18a47e365a6...,NaN,0xF3dE3C0d654FDa23daD170f0f320a92172509127,0xF3dE3C0d654FDa23daD170f0f320a92172509127,NaN,NaN,NaN,3000.000000,-1.202614,1586682822777699627318558687083083,2.357014e+07,198106.0,0.090629,1.075767e+08,13014.361562,USDC,WETH
1,Swap,19212460,2024-02-12 14:12:35,10bd099ac59f6cd3e2579b72192c6321de6c23f86b5b98...,NaN,0xF3dE3C0d654FDa23daD170f0f320a92172509127,0xc52df973b27bE4603210C47d7075e4401ea322D1,NaN,NaN,NaN,-7090.428870,2.845204,1586692381804776025217897849230524,2.357014e+07,198106.0,0.013784,1.075767e+08,13014.361562,USDC,WETH
2,Swap,19212462,2024-02-12 14:12:59,95111b985af005ae15904a60a85279be6337ef13d43880...,NaN,0x1111111254EEB25477B68fb85Ed929f73A960582,0x1111111254EEB25477B68fb85Ed929f73A960582,NaN,NaN,NaN,4486.251483,-1.798420,1586686336634166278828011731642425,2.357014e+07,198106.0,0.015782,1.075795e+08,13013.263142,USDC,WETH
3,Swap,19212462,2024-02-12 14:12:59,5ae8ca090a83b483195f391f4016ce379f077b4445269b...,NaN,0x3fC91A3afd70395Cd496C647d5a6CC9D4B2b7FAD,0x3fC91A3afd70395Cd496C647d5a6CC9D4B2b7FAD,NaN,NaN,NaN,-1744.444666,0.700000,1586688688423066906291411217381975,2.357014e+07,198106.0,0.008202,1.075795e+08,13013.263142,USDC,WETH
4,Swap,19212468,2024-02-12 14:14:11,578becf3721512c9459f333562b262669309ce199dbed5...,NaN,0x3fC91A3afd70395Cd496C647d5a6CC9D4B2b7FAD,0x3fC91A3afd70395Cd496C647d5a6CC9D4B2b7FAD,NaN,NaN,NaN,-1495.234170,0.600000,1586690704242124586974325062301590,2.357014e+07,198106.0,0.007741,1.075780e+08,13013.863142,USDC,WETH

In [2]:
df["timestamp"].duplicated().sum()

1110302

In [ ]:
print(len(df["timestamp"].unique()), len(df["timestamp"]))
print(len(df["timestamp"].unique()) / len(df["timestamp"]))

1629238 2739540
0.5947122509618403

In [6]:
df["timestamp"]

0          2024-02-12 14:12:35
1          2024-02-12 14:12:35
2          2024-02-12 14:12:59
3          2024-02-12 14:12:59
4          2024-02-12 14:14:11
                  ...
2739535    2025-04-06 21:07:59
2739536    2025-04-06 21:07:59
2739537    2025-04-06 21:08:11
2739538    2025-04-06 21:08:23
2739539    2025-04-06 21:08:23
Name: timestamp, Length: 2739540, dtype: object

# Slice

In [4]:
import pandas as pd 

df = pd.read_csv('uniswap_lp_data/sorted_uniswap_data1.csv')
print(len(df))

df_trunc = df.iloc[-250_000:]
print(len(df_trunc))
df_trunc.to_csv('uniswap_lp_data/sorted_uniswap_data1_truncated.csv', index=False)

2739540
250000

In [ ]:
print(env.L)